<nav id="header" class="navbar navbar-expand-md navbar-light fixed-top">
  <div id="header-container" class="container navbar-container">
    <a id ="brand" class="navbar-brand" href="/"><img id="brand-img" class="navbar-brand-img" src="/images/r-dive-logo.png" alt="R-dive logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Dogodki</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/dogodki">Dogodki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fotogalerije">Fotogalerije</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
